/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/anim.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


/* body {
    background-color: #000;
} */

.ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-image: url('/usa.jpg');
    /* Replace 'your-background-image-url.jpg' with the URL of your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

/* Define background images for different items */
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-image: url('/canada.jpg');
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-image: url('/france.jpg');
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-image: url('/algerie.jpg');
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-image: url('/tunisie.avif');
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-image:  url('/maroc.jpg');
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/animation.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@keyframes resize {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

.diff-resizer {
    width: 100%;
    height: 2px;
    /* Set height to a non-zero value */
    position: absolute;
    /* Set position to absolute */
    bottom: 0;
    /* Align to the bottom of the parent element */
    left: 0;
    /* Align to the left of the parent element */
    background-color: red;
    /* Set a background color to visualize the element */
    animation: resize 1s ease-in-out infinite alternate;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2.1);
    }
}

.phone-img {
    animation: zoomIn 1s alternate infinite;
}



.worldweb-phone {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-box, 1rem);
    --tw-bg-opacity: 1;
    /* Remove the previous background-color and replace it with the background-image */
    /* background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity))); */
    background-image: url(/_next/static/media/insta.ca9486db.jpg);
    /* Set background-size to cover to ensure the image covers the container */
    background-size: cover;
    /* Set background-repeat to no-repeat to prevent the image from repeating */
    background-repeat: no-repeat;
    /* Set background-position to center to align the image */
    background-position: center;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.bg-gradient-to-br {
    background: linear-gradient(to bottom right, black, white);
}

.bg-indigo-300 {
    background-color: white;
}

.bg-violet-300 {
    background-color: black;
}

.text-slate-900 {
    color: white;
}

.grid-cols-2>* {
    color: white;
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}
